.tableImage {
  width: 20%;
  height: auto;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cell {
  display: flex;
  justify-content: center;
  width: 150px;
  height: auto;
  padding-top: 10px;
}

.tableRow {
  display: flex;
  justify-content: center;
  align-items: center;
}